<%= stylesheet_link_tag    "bootstrap-select.min" %>

<%
   title = request.path.include?("new") ? "Adicionar Canal de Venda" : "Editar Canal de Venda"
   isEditMode = request.path.include?("edit")

   fields1 = ["full_name","name_establishment", "email", "cpf_cnpj", "phone", "store", "enabled"] 
   required_fields = ["full_name", "name_establishment", "email", "cpf_cnpj", "phone"] 
   special_fields = ["state","enabled", "bank_code"] 

   displayFields1 = ["Nome Completo", "Nome do Estabelecimento", "Email", "CPF/CNPJ", "Telefone", "online URL store", "Canal de Venda Habilitado?" ]
   hints1 = ["", "" , "", "", "", "", "" ] 

   fields2 = ["zip","street", "number", "complement", "neighborhood", "city", "state"] 
   hints2 = ["", "" , "", "", "", "", "" ] 
   displayFields2 = ["CEP", "Rua" , "Número", "Complemento", "Bairro", "Cidade", "Estado" ]

   fields3 = ["bank_code","agencia", "agencia_dv", "conta", "conta_dv"] 
   displayFields3 = ["Banco", "Agencia" , "DV Agência", "Conta", "DV Conta" ]

   fields = [fields1, fields2, fields3]
   displayFields = [displayFields1, displayFields2, displayFields3]
   subtitles = ["Dados da Canal de Venda", "Local e Endereço", "Dados Bancários"]
   hints = [hints1,hints2, hints2]
   iterator = @sale_channel

   if isEditMode
      subtitles = ["Dados da Canal de Venda", "Local e Endereço", "Conta Bancária Vinculada"]
      fields = [fields1, fields2, ["accounts"]]
      displayFields = [displayFields1, displayFields2, ["Conta Bancária"]]
      hints = [hints1, hints2, [""]]
      special_fields << "accounts"
   end
%>

<div class="block-header">
    <h2>
        <%= title.upcase %>
        <small>Preencha o formulário abaixo</small>
    </h2>
</div>

<!-- #END# Basic Validation -->
<!-- Advanced Validation -->
<%= form_for(iterator, :validate => true)  do |f| %>
<div class="row clearfix">
   <% column = (12 / fields.count).to_i.to_s %>
   <% fields.each.with_index do |field_source, j| %>
   <div class="col-lg-<%= column %> col-md-<%= column %> col-sm-12 col-xs-12">
      <div class="card">
         <div class="header">
            <h2><%= subtitles[j] %></h2>
         </div>
         <div class="body">
            <% field_source.each.with_index do |field, i| %>
            <div class="form-group form-float">
               
               <% if special_fields.include?(field) && field == "bank_code" %>
                  <p>
                     <label class="form-label-select"><%= displayFields[j][i] %></label>
                  </p>
                  <%= f.select(:bank_code, options_for_select(br_bancos,iterator.bank_code),  {}, { :class => 'form-control show-tick', :"data-live-search" => true})  %>
               <% elsif special_fields.include?(field) && field == "accounts" %>
                  <div class="form-line">
                     <label class="form-label"><%= displayFields[j][i] %></label><br>

                     <%= f.collection_select :recipient_id, Account.where(:sale_channel_id => iterator.id).asc(:name), :recipient_id, :name, {selected: iterator.recipient_id}, { :class => 'form-control', :"data-live-search" => true}  %>
                  </div>
               <% elsif special_fields.include?(field) && field == "state" %>
                  <p>
                     <label class="form-label-select"><%= displayFields[j][i] %></label>
                  </p>
                  <%= f.select(:state, options_for_select(br_states,iterator.state),  {}, { :class => 'form-control show-tick', :"data-live-search" => true })  %>
               <% elsif special_fields.include?(field) && field == "enabled" %>
                  <p>
                     <label class="form-label-select"><%= displayFields[j][i] %> 
                     <% if iterator.enabled? %>
                     <input type="checkbox" name="sale_channel[enabled]" checked>
                     <% else %>
                     <input type="checkbox" name="sale_channel[enabled]">
                     <% end %>
                     </label>
                  </p>
               <% else %>
                  <div class="form-line">
                     <%= f.text_field field, :class => "form-control" %>
                     <label class="form-label"><%= displayFields[j][i] %></label>
                  </div>
               <% end %>
               <div class="help-info"><%= hints[j][i] %></div>
            </div>
            <% end %>
            <% if j == (fields.count - 1) %>
            <button class="btn btn-primary waves-effect align-right" type="submit">ENVIAR</button>
            <% end %>
         </div>
      </div>
   </div>
   <% end %>
</div>
<% end %>
<%= javascript_include_tag "jquery.validate" %>
<%= javascript_include_tag "forms" %>
<%= javascript_include_tag "jquery.inputmask" %>
<%= javascript_include_tag "bootstrap-select.min.js" %>

<script type="text/javascript">
   jQuery(function($){
   
      // $("#partner_cpf").inputmask('999.999.999-99');
      // $("#partner_cnpj").inputmask('99.999.999/9999-99');
      $("#sale_channel_agencia").inputmask('99999');
      $("#sale_channel_agencia_dv").inputmask('9');
      $("#sale_channel_conta").inputmask('9999999999999');
      $("#sale_channel_conta_dv").inputmask('99');
     $("#sale_channel_zip").inputmask('99999-999');
     $("#sale_channel_phone").inputmask('(99)99999-9999');
     $("#sale_channel_zip").change(function(){
         var cep_code = $(this).val();
         cep_code = cep_code.replace("-", "");
         if( cep_code.length <= 0 ) return;
         $.get("http://viacep.com.br/ws/" + cep_code + "/json",
            function(result){
               if( result.cep.length <= 0 ){
                  alert(result.message || "Houve um erro desconhecido");
                  return;
               }
               if( result.localidade.length <= 1 ){
                  alert("CEP não encontrado, por favor preencha seu endereço");
                  return;
               }
               $("#sale_channel_zip").val( result.cep );
               $("#sale_channel_city").val( result.localidade );
               $("#sale_channel_neighborhood").val( result.bairro );
               $("#sale_channel_street").val( result.logradouro );
               $("#sale_channel_state").val( result.uf );
   
               $("#sale_channel_street").parents('.form-line').addClass('focused');
               $("#sale_channel_state").parents('.form-line').addClass('focused');
               $("#sale_channel_neighborhood").parents('.form-line').addClass('focused');
               $("#sale_channel_city").parents('.form-line').addClass('focused');
   
            });
      });
   });
   
   
</script>