
<div class="block-header">
    <h2>
        Parceiros
        <small>Crie, edite ou remova</a></small>
    </h2>
</div>
<%= notice_helper %>
<% cols = ["Nome", "CNPJ","Número de Ofertas", "Habilitado?", "Opções"] %>
<% path = "partners" %>
<% remove_title = "Deseja remover a Parceiro?" %>
<% new_button_title = "Adicionar Parceiro" %>
<% iterator = [] %>


<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    LISTA DE PARCEIROS
                  <a href="<%= path %>/new" class="btn btn-success waves-effect pull-right" style="color:white"> 
                    <i class="material-icons">add</i>
                    <%= new_button_title %></a>
                    <br><br>
                </h2>

            </div>
            <div class="body">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-hover dataTable js-exportable" data-source="<%= partners_url(format: "json") %>" id="dataTable">
                      <thead>
                          <tr>
                            <% cols.each do |col| %>
                                <th><%= col %></th>
                              <% end %>
                          </tr>
                      </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>




<script type="text/javascript">
    var pac;
      $(function() {
          $('#dataTable').dataTable({
              "bPaginate": true,
              "bLengthChange": true,
              "bFilter": true,
              "bSort": true,
              "bInfo": true,
              "bAutoWidth": true,
              "bJQueryUI": true,
              "bProcessing": true,
              "bServerSide": true,
              "dom": 'Bfrtip',
              "buttons" : [
              'copy', 'csv', 'excel', 'pdf', 'print'
              ],
              "sAjaxSource": $('#dataTable').data('source')

          });
      });

  </script>

