<%= stylesheet_link_tag    "bootstrap-select.min" %>
<%= notice_helper %>



<% title = request.path.include?("new") ? "Adicionar Modalidade" : "Editar Modalidade" 

 fields1 = ["current_password","password","password_confirmation"] 

 displayFields1 = ["Precisamos da sua senha atual para alterá-la","Digite a Nova Senha","Confirme a Nova Senha" ] 
 hints1 = ["", "" , "", "", "", "", "", "", "" ] 


 fields = [fields1] %>
<% displayFields = [displayFields1] %>
<% subtitles = ["Alterar Senha"] %>
<% hints = [hints1] %>
<% iterator = User.new %>

<div class="block-header">
    <h2>
        <%= title.upcase %>
        <small>Preencha o formulário abaixo</small>
    </h2>
</div>

<!-- #END# Basic Validation -->
<!-- Advanced Validation -->
 <%= form_for(User.new, :url => { :action => :edit, :controller => :password  } ) do |f| %>
<div class="row clearfix">
   <% column = (12 / fields.count).to_i.to_s %>
   <% fields.each.with_index do |field_source, j| %>
   <div class="col-lg-<%= column %> col-md-<%= column %> col-sm-12 col-xs-12">
      <div class="card">
         <div class="header">
            <h2><%= subtitles[j] %></h2>
            <% if j == 0 %>
              <ul class="header-dropdown m-r--5">
                 <li class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    <i class="material-icons">more_vert</i>
                    </a>
                    <ul class="dropdown-menu pull-right">
                       <li><a href="javascript:window.history.back();">Voltar</a></li>
                    </ul>
                 </li>
              </ul>
            <% end %>
         </div>
         <div class="body">
            <% field_source.each.with_index do |field, i| %>
            <div class="form-group form-float">
               <% if false %>
               <p>
                  <label class="form-label-select"><%= displayFields[j][i] %> 
                  <% if iterator.enabled? %>
                  <input type="checkbox" name="modality[enabled]" checked>
                  <% else %>
                  <input type="checkbox" name="modality[enabled]">
                  <% end %>
                  </label>
               </p>
               <% else %>
               <div class="form-line">
                  <%= f.password_field field, :class => "form-control" %>
                  <label class="form-label"><%= displayFields[j][i] %></label>
               </div>
               <% end %>
               <div class="help-info"><%= hints[j][i] %></div>
            </div>
            <% end %>
            <% if j == (fields.count - 1) %>
            <button class="btn btn-primary waves-effect align-right" type="submit">ENVIAR</button>
            <% end %>
         </div>
      </div>
   </div>
   <% end %>
</div>
<% end %>
<%= javascript_include_tag "jquery.validate" %>
<%= javascript_include_tag "forms" %>


