<%= stylesheet_link_tag    "bootstrap-select.min" %>

<%
   title = request.path.include?("new") ? "Adicionar Oferta" : "Editar Oferta" 

   fields1 = ["name","position","picture", "description", "enabled"] 
   fields2 = ["date_from_plain","date_to_plain", "price_plain", "capacity", "percent", "sale_channel_comission", "accepts_cash_transactions"] 
   fields3 = ["cities","categories", "partner", "accounts", "policy"]
   fields4 = ["zip","street", "number", "complement", "neighborhood", "city", "state", "coordinates"]
   required_fields = ["name", "enabled"] 
   special_fields = ["state", "enabled", "picture", "description", "accepts_cash_transactions", "coordinates"] + fields3

   displayFields1 = ["Nome","Posição", "Foto (PNG até 1mb)", "Descrição", "Habilitada?"  ]
   displayFields2 = ["Início da Vigência","Término da Vigência", "Preço Base (Deixe em branco para gratuito)", "Vagas por dia", "Percentual de Split Para o Parceiro", "Comissão do Canal de Venda", "Habilitar pagamento em dinheiro?"]
   displayFields3 = ["Cidades","Categorias", "Parceiro", "Contas Bancárias Associadas", "Política de Cancelamento" ]
   displayFields4 = ["CEP", "Rua" , "Número", "Complemento", "Bairro", "Cidade", "Estado", "Mapa"]

   hints1 = ["", "" , "", "", "", "", "", "", "" ]
   fields = [fields1, fields2, fields3, fields4]

   coordinates = [-46.6334, -23.5507]
   if !@offer.latitude.nil? && !@offer.longitude.nil?
      coordinates = [@offer.longitude, @offer.latitude]
   end
%>
<% displayFields = [displayFields1, displayFields2, displayFields3, displayFields4] %>
<% subtitles = ["Dados da Oferta", "Oferecimento", "Relacionamentos", "Local da oferta"] %>
<% hints = [hints1, hints1, hints1, hints1] %>
<% iterator = @offer %>

<div class="block-header">
    <h2>
        <%= title.upcase %>
        <small>Preencha o formulário abaixo</small>
    </h2>
</div>

<!-- #END# Basic Validation -->
<!-- Advanced Validation -->
<%= form_for(iterator, :validate => true)  do |f| %>
<div class="row clearfix">
   <% column = (12 / fields.count).to_i.to_s %>
   <% fields.each.with_index do |field_source, j| %>
   <div class="col-lg-12">
      <div class="card">
         <div class="header">
            <h2><%= subtitles[j] %></h2>
            <% if j == 0 %>
              <ul class="header-dropdown m-r--5">
                 <li class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    <i class="material-icons">more_vert</i>
                    </a>
                    <ul class="dropdown-menu pull-right">
                       <li><a href="javascript:window.history.back();">Voltar</a></li>
                    </ul>
                 </li>
              </ul>
            <% end %>
         </div>
         <div class="body">
            <% field_source.each.with_index do |field, i| %>
            <div class="form-group form-float">
               <% if special_fields.include?(field) && field == "enabled" %>
               <p>
                  <label class="form-label-select"><%= displayFields[j][i] %> 
                  <% if iterator.enabled? %>
                  <input type="checkbox" name="offer[enabled]" checked>
                  <% else %>
                  <input type="checkbox" name="offer[enabled]">
                  <% end %>
                  </label>
               </p>
               <% elsif special_fields.include?(field) && field == "state" %>
                  <p>
                     <label class="form-label-select"><%= displayFields[j][i] %></label>
                  </p>
                  <%= f.select(:state, options_for_select(br_states,iterator.state),  {}, { :class => 'form-control show-tick', :"data-live-search" => true })  %>
               <% elsif special_fields.include?(field) && field == "coordinates" %>
                  <div id='map-box' style="width:100%; height: 300px;"></div>
                  <%  if !@offer.latitude.nil? && !@offer.longitude.nil? %>
                     <input type="hidden" name="offer[latitude]" id="offer_latitude" value="<%= @offer.latitude %>">
                     <input type="hidden" name="offer[longitude]" id="offer_longitude" value="<%= @offer.longitude %>">
                  <% else %>
                     <input type="hidden" name="offer[latitude]" id="offer_latitude">
                     <input type="hidden" name="offer[longitude]" id="offer_longitude">
                  <% end %>
               <% elsif special_fields.include?(field) && field == "accepts_cash_transactions" %>
                  <p>
                     <label class="form-label-select"><%= displayFields[j][i] %> 
                     <% if iterator.accepts_cash_transactions? %>
                     <input type="checkbox" name="offer[accepts_cash_transactions]" checked>
                     <% else %>
                     <input type="checkbox" name="offer[accepts_cash_transactions]">
                     <% end %>
                     </label>
                  </p>
               <% elsif special_fields.include?(field) && field == "picture" %>
               <p>
                  <label class="form-label-select"><%= displayFields[j][i] %> 
                  <%= f.file_field field, :class => "form-control" %>
                  </label>
               </p>
               <% elsif special_fields.include?(field) && field == "description" %>
               <p>
                  <label class="form-label"><%= displayFields[j][i] %></label><br><br>
                  <%= f.text_area field, :class => "form-control textarea", :rows => 10 %>
                  </label>
               </p>
               <% elsif special_fields.include?(field) && field == "cities" %>
               <div class="form-line">
                  <label class="form-label"><%= displayFields[j][i] %></label><br>
                  <% json = Offer.mapOfferID(City.all.only(:name, :id).asc(:name))  %>
                  <%= f.select(:city_ids, options_for_select(json,iterator.city_ids),  { :prompt => true, include_hidden: false}, { :class => 'form-control show-tick', :"data-live-search" => true, :multiple => true, include_hidden: false})  %>
               </div>
               <% elsif special_fields.include?(field) && field == "categories" %>
               <div class="form-line">
                  <label class="form-label"><%= displayFields[j][i] %></label><br>
                  <% json = Offer.mapOfferID(Category.all.only(:name, :id).asc(:name))  %>
                  <%= f.select(:category_ids, options_for_select(json,iterator.category_ids),  { :prompt => true, include_hidden: false}, { :class => 'form-control show-tick', :"data-live-search" => true, :multiple => true, include_hidden: false})  %>
               </div>
               <% elsif special_fields.include?(field) && field == "partner" %>
               <div class="form-line">
                  <label class="form-label"><%= displayFields[j][i] %></label><br><br>
                  <% json = Offer.mapOfferID(Partner.all.only(:name, :id).asc(:name))  %>
                  <%= f.select(:partner, options_for_select(json,iterator.partner_id),  { :prompt => true}, { :class => 'form-control show-tick', :"data-live-search" => true})  %>
               </div>
               <% elsif special_fields.include?(field) && field == "policy" %>
               <div class="form-line">
                  <label class="form-label"><%= displayFields[j][i] %></label><br><br>
                  <% json = Offer.mapOfferID(Policy.all.only(:name, :id).asc(:name))  %>
                  <%= f.select(:policy, options_for_select(json,iterator.policy_id),  { :prompt => true, include_hidden: false}, { :class => 'form-control show-tick', :"data-live-search" => true, include_hidden: false})  %>
               </div>
               <% elsif special_fields.include?(field) && field == "accounts" %>
               <div class="form-line">
                  <label class="form-label"><%= displayFields[j][i] %></label><br>
                  <% json = iterator.account_ids.count == 0 ? [] :  Offer.mapOfferID(iterator.accounts.only(:name, :id).asc(:name))  %>
                  <%= f.select(:account_ids, options_for_select(json,iterator.account_ids),  { :prompt => true, include_hidden: false}, { :class => 'form-control show-tick', :"data-live-search" => true, :multiple => true,include_hidden: false })  %>
               </div>


               <% else %>
               <div class="form-line">
                  <%= f.text_field field, :class => "form-control" %>
                  <label class="form-label"><%= displayFields[j][i] %></label>
               </div>
               <% end %>
               <div class="help-info"><%= hints[j][i] %></div>
            </div>
            <% end %>
            <% if j == (fields.count - 1) %>
            <button class="btn btn-primary waves-effect align-right" type="submit">ENVIAR</button>
            <% end %>
         </div>
      </div>
   </div>
   <% end %>
</div>
<% end %>
<%= javascript_include_tag "jquery.validate" %>
<%= javascript_include_tag "forms" %>
<%= javascript_include_tag "jquery.inputmask" %>
<%= javascript_include_tag "bootstrap-select.min.js" %>

<script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.4.1/mapbox-gl-geocoder.min.js'></script>
<link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.4.1/mapbox-gl-geocoder.css' type='text/css' />
<script>
   mapboxgl.accessToken = 'pk.eyJ1IjoiYWxsYW5zZHVhcnRlIiwiYSI6ImNqenlvY3I2YTAzM2kzaW12c3BlbjA3bzgifQ.0JKBP7Eexq9HZijQyM5Z6Q';
   var map = new mapboxgl.Map({
      container: 'map-box',
      style: 'mapbox://styles/mapbox/streets-v11',
      center: <%= coordinates %>,
      zoom: 12,
   });

   var geocoder = new MapboxGeocoder({
      accessToken: mapboxgl.accessToken,
      mapboxgl: mapboxgl,
      placeholder: "Informe o endereço da oferta",
   });
   
   map.addControl(geocoder);

   new mapboxgl.Marker()
   .setLngLat(<%= coordinates %>)
   .addTo(map);

   geocoder.on('results', (results) => {
      $("#offer_longitude").val(results.features[0].center[0]);
      $("#offer_latitude").val(results.features[0].center[1]);
   });
</script>
<script type="text/javascript">
   jQuery(function($){
   
     $("#offer_date_to_plain").inputmask('99/99/9999');
     $("#offer_date_from_plain").inputmask('99/99/9999');
   });
   
  $("#offer_partner").change(function(e) {
      triggerUrl( "/api/accounts.json?id=" + $(e.target).val(), $("#offer_account_ids"));
  });

   $("#offer_zip").inputmask('99999-999');
  $("#offer_zip").change(function(){
         var cep_code = $(this).val();
         cep_code = cep_code.replace("-", "");
         if( cep_code.length <= 0 ) return;
         $.get("http://viacep.com.br/ws/" + cep_code + "/json",
            function(result){
               if( result.cep.length <= 0 ){
                  alert(result.message || "Houve um erro desconhecido");
                  return;
               }
               if( result.localidade.length <= 1 ){
                  alert("CEP não encontrado, por favor preencha seu endereço");
                  return;
               }
               $("#offer_zip").val( result.cep );
               $("#offer_city").val( result.localidade );
               $("#offer_neighborhood").val( result.bairro );
               $("#offer_street").val( result.logradouro );
               $("#offer_state").val( result.uf );
   
               $("#offer_street").parents('.form-line').addClass('focused');
               $("#offer_state").parents('.form-line').addClass('focused');
               $("#offer_neighborhood").parents('.form-line').addClass('focused');
               $("#offer_city").parents('.form-line').addClass('focused');
            });
      });

  function triggerUrl(url, select_elem){
     $.getJSON(url, function(json){
         select_elem.empty();
         $.each(json, function (idx, obj) {
             select_elem.append('<option value="' + obj[1] + '">' + obj[0] + '</option>');
         });
           select_elem.selectpicker('refresh');
     })    
   }


</script>