
<div class="block-header">
    <h2>
        Ofertas
        <small>Crie, edite ou remova</a></small>
    </h2>
</div>
<%= notice_helper %>
  <% cols = ["Nome","Parceiro", "Posição", "Categorias", "Cidades", "De","Até","Pedidos","Habilitada?", "Opções"] %>
<% path = "offers" %>
<% new_button_title = "Adicionar Oferta" %>


<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    LISTA DE OFERTAS
                  <a href="<%= path %>/new" class="btn btn-success waves-effect pull-right" style="color:white"> 
                    <i class="material-icons">add</i>
                    <%= new_button_title %></a>
                    <br><br>
                </h2>

            </div>
            <div class="body">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-hover dataTable js-exportable" data-source="<%= offers_url(format: "json") %>" id="dataTable2">
                      <thead>
                          <tr>
                            <% cols.each do |col| %>
                                <th><%= col %></th>
                              <% end %>
                          </tr>
                      </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>






<%= javascript_include_tag "jquery.ui.js" %>
<%= javascript_include_tag "jquery.dataTables.rowReordering.js" %>

<script type="text/javascript">
      $(function() {
          var table =  $('#dataTable2').dataTable({
              "bPaginate": true,
              "bLengthChange": true,
              "bFilter": true,
              "bSort": true,
              "bInfo": true,
              "bAutoWidth": true,
              "bJQueryUI": true,
              "bProcessing": true,
              "bServerSide": true,
              "sAjaxSource": $('#dataTable2').data('source')

          });
        
    });


  </script>

