<%= stylesheet_link_tag    "bootstrap-select.min" %>
<% path = "partners" %>



<% title = "Detalhes da Oferta" 

 fields1 = ["name","position","picture", "description", "enabled"] 
 fields2 = ["date_from_plain","date_to_plain", "price_plain", "capacity", "percent", "sale_channel_comission", "accepts_cash_transactions"] 
 fields3 = ["cities","categories", "partner", "accounts", "policy"]
 fields4 = ["zip","street", "number", "complement", "neighborhood", "city", "state", "coordinates"]
 required_fields = ["name", "enabled"] 
 special_fields = ["enabled", "picture", "description", "accepts_cash_transactions", "coordinates"] + fields3

 displayFields1 = ["Nome","Posição", "Foto", "Descrição", "Habilitada?"  ] 
 displayFields3 = ["Cidades","Categorias", "Parceiro", "Contas Bancárias Associadas", "Política de Cancelamento" ] 
 displayFields2 = ["Início da Vigência","Término da Vigência", "Preço Base (Deixe em branco para gratuito)", "Vagas por dia", "Percentual de Split Para o Parceiro", "Comissão do Canal de Venda", "Pagamento em dinheiro habilitado?"]
 displayFields4 = ["CEP", "Rua" , "Número", "Complemento", "Bairro", "Cidade", "Estado", "Mapa"]

 hints1 = ["", "" , "", "", "", "", "", "", "" ]

    coordinates = [-46.6334, -23.5507]
    if !@offer.latitude.nil? && !@offer.longitude.nil?
        coordinates = [@offer.longitude, @offer.latitude]
    end

 fields = [fields1, fields2, fields3, fields4] %>
<% displayFields = [displayFields1, displayFields2, displayFields3, displayFields4] %>
<% subtitles = ["Dados da Oferta", "Oferecimento", "Relacionamentos", "Local da oferta"] %>
<% hints = [hints1, hints1, hints1, hints1] %>
<% iterator = @offer %>


<div class="block-header">
    <h2>
        <%= title.upcase %>
        <small>Confira os dados abaixo</small>
    </h2>
</div>

<!-- #END# Basic Validation -->
<!-- Advanced Validation -->
<div class="row clearfix">
   <% column = (12 / fields.count).to_i.to_s %>
   <% fields.each.with_index do |field_source, j| %>
   <div class="col-lg-12">
      <div class="card">
         <div class="header">
            <h2><%= subtitles[j] %></h2>
            <% if j == 0 %>
              <ul class="header-dropdown m-r--5">
                 <li class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    <i class="material-icons">more_vert</i>
                    </a>
                    <ul class="dropdown-menu pull-right">
                       <li><a href="javascript:window.history.back();">Voltar</a></li>
                       <li><a href="/<%= path %>/<%= iterator.id.to_s %>/edit">Editar</a></li>
                       <li><a href="/<%= path %>/new?partner=<%= iterator.id.to_s %>">Adicionar Gestor</a></li>
                    </ul>
                 </li>
              </ul>
            <% end %>
         </div>
         <div class="body">
            <% field_source.each.with_index do |field, i| %>
            <div class="form-group form-float">
               <% if special_fields.include?(field) && field == "enabled" %>
                    <p> <b><%= displayFields[j][i] %></b> </p>
                    <p> <%= iterator.enabled? ? "Sim" : "Não" %> </p>
                <% elsif special_fields.include?(field) && field == "accepts_cash_transactions" %>
                    <p> <b><%= displayFields[j][i] %></b> </p>
                    <p> <%= iterator.enabled? ? "Sim" : "Não" %> </p>
                <% elsif special_fields.include?(field) && field == "coordinates" %>
                    <div id='map-box' style="width:100%; height: 300px;"></div>
               <% elsif special_fields.include?(field) && field == "partner" %>
               <p> <b><%= displayFields[j][i] %></b> </p>
               <p> <%= iterator.partner.nil? ? "" : (link_to iterator.partner.name, iterator.partner) %> </p>
               <% elsif special_fields.include?(field) && field == "policy" %>
               <p> <b><%= displayFields[j][i] %></b> </p>
               <p> <%= iterator.policy.nil? ? "" : (link_to iterator.policy.name, iterator.policy) %> </p>
               <% elsif special_fields.include?(field) && field == "cities" %>
               <p> <b><%= displayFields[j][i] %></b> </p>
               <p> <%= iterator.cities.distinct(:name).join(",") %> </p>
               <% elsif special_fields.include?(field) && field == "categories" %>
               <p> <b><%= displayFields[j][i] %></b> </p>
               <% elsif special_fields.include?(field) && field == "picture" %>
               <p> <b><%= displayFields[j][i] %></b> </p>
               <p> <%= link_to "Ver Foto", iterator.picture.url %> </p>
               <% elsif special_fields.include?(field) && field == "accounts" %>
               <p> <b><%= displayFields[j][i] %></b> </p>
               <p> <%= iterator.accounts.distinct(:name).join(",") %> </p>
               <% else %>
               <p> <b><%= displayFields[j][i] %></b> </p>
               <p> <%= iterator[field] %> </p>
               <% end %>
            </div>
            <% end %>
         </div>
      </div>
   </div>
   <% end %>
</div>

<% cols = ["Voucher", "Data da Compra", "Usuário", "Oferta", "Data", "Quantidade","Status", "Valor"] %>

<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    LISTA DE COMPRAS
                </h2>

            </div>
            <div class="body">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-hover dataTable js-exportable" data-source="<%= orders_url(format: "json", offer: iterator.id) %>" id="dataTable">
                      <thead>
                          <tr>
                            <% cols.each do |col| %>
                                <th><%= col %></th>
                              <% end %>
                          </tr>
                      </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.4.1/mapbox-gl-geocoder.min.js'></script>
<link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.4.1/mapbox-gl-geocoder.css' type='text/css' />
<script>
   mapboxgl.accessToken = 'pk.eyJ1IjoiYWxsYW5zZHVhcnRlIiwiYSI6ImNqenlvY3I2YTAzM2kzaW12c3BlbjA3bzgifQ.0JKBP7Eexq9HZijQyM5Z6Q';
   var map = new mapboxgl.Map({
      container: 'map-box',
      style: 'mapbox://styles/mapbox/streets-v11',
      center: <%= coordinates %>,
      zoom: 12,
      interactive: false,
   });

   new mapboxgl.Marker()
   .setLngLat(<%= coordinates %>)
   .addTo(map);
</script>

<script type="text/javascript">
      $(function() {
          $('#dataTable').dataTable({
              "bPaginate": true,
              "bLengthChange": true,
              "bFilter": true,
              "bSort": true,
              "bInfo": true,
              "bAutoWidth": true,
              "bJQueryUI": true,
              "bProcessing": true,
              "bServerSide": true,
              "dom": 'Bfrtip',
              "buttons" : [
              'copy', 'csv', 'excel', 'pdf', 'print'
              ],              
              "sAjaxSource": $('#dataTable').data('source')

          });
      });

      $(function() {
          $('#dataTable2').dataTable({
              "bPaginate": true,
              "bLengthChange": true,
              "bFilter": true,
              "bSort": true,
              "bInfo": true,
              "bAutoWidth": true,
              "bJQueryUI": true,
              "bProcessing": true,
              "bServerSide": true,
              "dom": 'Bfrtip',
              "buttons" : [
              'copy', 'csv', 'excel', 'pdf', 'print'
              ],              
              "sAjaxSource": $('#dataTable2').data('source')

          });
      });

      $(function() {
          $('#dataTable4').dataTable({
              "bPaginate": true,
              "bLengthChange": true,
              "bFilter": true,
              "bSort": true,
              "bInfo": true,
              "bAutoWidth": true,
              "bJQueryUI": true,
              "bProcessing": true,
              "bServerSide": true,
              "dom": 'Bfrtip',
              "buttons" : [
              'copy', 'csv', 'excel', 'pdf', 'print'
              ],              
              "sAjaxSource": $('#dataTable4').data('source')

          });
      });


  </script>

