<!DOCTYPE html>
<html class="">
   <head>
      <meta charset="UTF-8">
      <title>Tap2Go | Log in</title>
      <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
      <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">
      <%= stylesheet_link_tag    "application" %>
      <%= csrf_meta_tag %>
      >

   </head>
   <body class="login-page">
      <div class="login-box">
         <div class="logo">
            <a href="javascript:void(0);">Admin<b>Tap2Go</b></a>
            <small></small>
         </div>
         <div class="card">
            <div class="body">
               <%= yield %>
            </div>
            <!-- /.login-box-body -->
         </div>
      </div>
   </body>
   <%= javascript_include_tag "application" %>
   <%= notice_helper_login %>
</html>