<%= stylesheet_link_tag    "bootstrap-select.min" %>



<% title = request.path.include?("new") ? "Adicionar Conta" : "Editar Conta" 

 receiverField = @accountType == 'partner' ? 'partner' : 'sale_channel'
 enabledField = receiverField == 'partner' ? 'partner[enabled]' : 'sale_channel[enabled]'
 descriptionField = receiverField == 'partner' ? 'Parceiro' : 'Canal de Venda'

 fields1 = ["name", "cnpj", receiverField] 
 required_fields = ["name","social", "email","description", "phone"] 
 special_fields = ["state",receiverField, "bank_code", "enabled"] 

 displayFields1 = ["Nome", "CPF ou CNPJ", descriptionField ] 
 hints1 = ["", "" , ""]

 fields3 = ["bank_code","agencia", "agencia_dv", "conta", "conta_dv", "enabled"] 
 displayFields3 = ["Banco", "Agencia" , "DV Agência", "Conta", "DV Conta", "Conta habilitada?" ]
 hints3 = ["", "" , "", "", "", ""]
 %>

<% fields = [fields1, fields3] %>
<% displayFields = [displayFields1, displayFields3] %>
<% subtitles = ["Dados do Recebedor", "Dados Bancários"] %>
<% hints = [hints1,hints3] %>
<% iterator = @account %>

<div class="block-header">
    <h2>
        <%= title.upcase %>
        <small>Preencha o formulário abaixo</small>
    </h2>
</div>

<!-- #END# Basic Validation -->
<!-- Advanced Validation -->
<%= form_for(iterator, :validate => true)  do |f| %>
<div class="row clearfix">
   <% column = (12 / fields.count).to_i.to_s %>
   <% fields.each.with_index do |field_source, j| %>
   <div class="col-lg-<%= column %> col-md-<%= column %> col-sm-12 col-xs-12">
      <div class="card">
         <div class="header">
            <h2><%= subtitles[j] %></h2>
            <% if j == 0 %>
              <ul class="header-dropdown m-r--5">
                 <li class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    <i class="material-icons">more_vert</i>
                    </a>
                    <ul class="dropdown-menu pull-right">
                       <li><a href="javascript:window.history.back();">Voltar</a></li>
                    </ul>
                 </li>
              </ul>
            <% end %>
         </div>
         <div class="body">
            <% field_source.each.with_index do |field, i| %>
            <div class="form-group form-float">
               

               <% if special_fields.include?(field) && field == "bank_code" %>
               <p>
                  <label class="form-label-select"><%= displayFields[j][i] %></label>
               </p>
               <%= f.select(:bank_code, options_for_select(br_bancos,iterator.bank_code),  {}, { :class => 'form-control show-tick', :"data-live-search" => true })  %>
              <% elsif special_fields.include?(field) && field == "partner" %>
               <div class="form-line">
                  <label class="form-label"><%= displayFields[j][i] %></label><br>

                  <%= f.collection_select :partner, Partner.all.asc(:name), :id, :name, {selected: iterator.partner_id}, { :class => 'form-control', :"data-live-search" => true}  %>
               </div>

               <% elsif special_fields.include?(field) && field == "sale_channel" %>
                  <div class="form-line">
                     <label class="form-label"><%= displayFields[j][i] %></label><br>

                     <%= f.collection_select :sale_channel, SaleChannel.all.asc(:full_name), :id, :full_name, {selected: iterator.sale_channel_id}, { :class => 'form-control', :"data-live-search" => true}  %>
                  </div>

               <% elsif special_fields.include?(field) && field == "state" %>
                  <p>
                     <label class="form-label-select"><%= displayFields[j][i] %></label>
                  </p>
                  <%= f.select(:state, options_for_select(br_states,iterator.state),  {}, { :class => 'form-control show-tick', :"data-live-search" => true })  %>
               <% elsif special_fields.include?(field) && field == "enabled" %>
                  <p>
                     <label class="form-label-select"><%= displayFields[j][i] %> 
                        <input type="checkbox" name="account[enabled]" checked>
                     </label>
                  </p>
               <% else %>
                  <div class="form-line">
                     <%= f.text_field field, :class => "form-control" %>
                     <label class="form-label"><%= displayFields[j][i] %></label>
                  </div>
               <% end %>
               <div class="help-info"><%= hints[j][i] %></div>
            </div>
            <% end %>
            <% if j == (fields.count - 1) %>
            <button class="btn btn-primary waves-effect align-right" type="submit">ENVIAR</button>
            <% end %>
         </div>
      </div>
   </div>
   <% end %>
</div>
<% end %>
<%= javascript_include_tag "jquery.validate" %>
<%= javascript_include_tag "forms" %>
<%= javascript_include_tag "jquery.inputmask" %>
<%= javascript_include_tag "bootstrap-select.min.js" %>

<script type="text/javascript">
jQuery(function($){
   $("#account_agencia").inputmask('99999');
   $("#account_agencia_dv").inputmask('9');
   $("#account_conta").inputmask('9999999999999');
   $("#account_conta_dv").inputmask('99');
});
</script>